@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

/* BASE SETTINGS START */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*1rem = 10px*/
}

body {
    background: #eee;
    /* background: #555; */
    font-family: 'Montserrat', sans-serif;
}

/* BASE SETTINGS END */

/* SIDE BAR SECTION START */

.side-bar {
    height: 95%;
    background: #ddd;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    transition: all .2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    left: 1em;
}

.icon {
    text-align: center;
    font-size: 2.5rem;
    max-width: 35px;
    cursor: pointer;
    display: block;
    color: #000;
}

.options-section {
    width: 18vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 10em;
}

.container {
    background: #ccc;
    border-radius: 1rem;
    padding: 2rem;
    /* display: grid; */
    gap: 5px;
    user-select: none;
}

.show {
    display: grid;
}

.color {
    display: none;
}

.input-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container label {
    font-size: 1.5rem;
}

#color-input {
    width: 100%;
    height: 100px;
    border: none;
    background: none;
}

input[type="color"] {
    outline: 6px outset #ddd;
    outline-offset: -6px;
    border-radius: 1rem;
    cursor: pointer;
}

.color-scheme-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.warm-option,
.cool-option,
.pastel-option {
    border: 2px outset;
    border-radius: 1rem;
    width: 30%;
    height: 50px;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: transform .2s ease;
}

.warm-option:active,
.cool-option:active,
.pastel-option:active {
    transform: scale(.98);
}

.warm-option {
    background: #f1dca7;
}

.cool-option {
    background: #2a6f97;
}

.pastel-option {
    background: #fde2e4;
}

.grid-size {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.grid-size p {
    font-size: 1.5rem;
}

#range-input {
    outline: none;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #aaa;
    height: 1rem;
    border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #1DA1df;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}

.grid {
    display: none;
}

#apply-btn {
    padding: 10px;
    border: none;
    border-radius: 1rem;
    font: 500 1.4rem Montserrat, sans-serif;
    cursor: pointer;
    transition: all .2s ease;
}

#apply-btn:active {
    transform: scale(.98);
}

.fill-el {
    display: none;
}

.fill-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.fill-type span,
.fill-type div {
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
}

.span-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 2rem;
    background: #ddd;
    border-radius: 10em;
}

#pick-icon,
#hover-icon,
#fill-grid-icon,
#border-icon,
#erase {
    cursor: pointer;
    transition: transform .2s ease;
}

#pick-icon:active,
#hover-icon:active,
#fill-grid-icon:active,
#border-icon:active,
#erase:active {
    transform: scale(.98);
}

#fill-grid-icon:active,
#border-icon:active {
    border: solid #999;
}

.opacity {
    display: none;
}

.opacity-para {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
}

.opacity-options {
    display: flex;
    justify-content: space-around;
}

#opacity-50,
#opacity-100 {
    width: 60px;
    font-size: 1.5rem;
    padding: 10px;
    background: #ddd;
    border-radius: 10rem;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.border {
    border: solid #999;
}

.no-border {
    border: none !important;
}

hr {
    border: 1px solid #aaa;
    margin: 10px auto;
}

/* SIDE BAR SECTION END  */

/* MAIN SECTION START */

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch-section {
    width: 45vw;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    box-shadow: 4px 4px 8px #0005;
    transition: all .2s ease;
}

#sketch-section-position {
    margin-left: 40em;
}

#grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    transition: all .2s ease;
}

.sketch-margin {
    margin-left: 400px;
}

.square {
    background-color: #fff;
    border: 1px solid #ddd;
}

/* MAIN SECTION END */

/* FOOTER SECTION START */

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
}

.copyright {
    text-align: center;
    font-size: 1.2rem;
}

/* FOOTER SECTION END */